nav.tabs
  a.show-ideas(href='/d/#{slug}/') Show ideas
  a.add(href='/d/#{slug}/add') Add idea +

div#app

script#dotstormTopic(type='text/template')
  div#dotstorm
    h1.nameEdit
      span.clickToEdit <%= name %>
    div.topicEdit
      div.clickToEdit <%| _.escapeHTML(topic || "[Click to edit topic]").replace(/\n/g, "\n<br />") %>

script#dotstormInPlaceInput(type='text/template')
  form.editInPlace
    <input type='text' value='<%= text %>' />
    input(type='submit', value='OK')

script#dotstormInPlaceTextarea(type='text/template')
  form
    textarea <%= text %>
    br
    input(type='submit', value='save')
    a.cancel(href='') cancel

script#dotstormAddIdea(type='text/template')
  div#addIdea
    div.toolbar
      a.tool.active(data-tool='text')
        img(src='/img/T.png', alt='Text')
      a.tool(data-tool='pencil')
        img(src='/img/pencil.png', alt='Pencil')
      a.tool(data-tool='eraser')
        img(src='/img/erase.png', alt='Eraser')
      span(style='float: right')
        a.note-color.yellow
        a.note-color.pink
        a.note-color.aqua
        a.note-color.green
    div.canvasHolder
      div.canvas
      div.text
        textarea#id_description <%= description %>

      <% if (camera) { %>
      li#camera.tab
        | TODO camera!
      <% } %>
    form
      label(for='id_tags') Tags
      <input id='id_tags' name='tags' type='text' value="<%= tags %>" />
      //a.cta.cta-yellow.cta-thin Say more
      input.cta.cta-blue.cta-thin(type='submit', value='Share &raquo;', style='float: right')
    div(style='clear: both;')

script#dotstormShowIdeas(type='text/template')
  div.topic
  div.tag-links
    | Order by
    a.sort(href='?sort=drop', data-sort='drop') drop
    |, 
    a.sort(href='?sort=votes', data-sort='votes') votes
    |, 
    a.sort(href='?sort=date', data-sort='date') date
    br
    <% if (tags) { %>
    | Filter by tag:
    | <% for (var tag in tags) { %>
    |   <a class='tag' href='/d/<%= slug %>/tag/<%= encodeURIComponent(tag) %>'
    |    data-tag='<%= tag %>'><%= tag %>
    |    (<%= tags[tag] %>)</a> 
    | <% } %>
    <% } %>
  div.idea-browser
    div#showIdeas
    div(style='clear: both;')

script#dotstormSmallIdea(type='text/template')
  div.border
    div.canvasHolder
      div.canvas
      div.text
        textarea(disabled='disabled')
          <%= description %>
      div.dragger
      div.tags
        <%= tags %>
      div.votes

script#dotstormSmallIdeaGroup(type='text/template')
  div.label.clickToEdit
    <%= label || "[Click to add label]" %>
  div.ideas

script#dotstormSmallIdeaGroupEditLabel(type='text/template')
  div
    form
      | <input type='text' value='<%= label %>' placeholder='label' />
      input(type='submit', value='OK')

script#dotstormBigIdea(type='text/template')
  div.shadow
    div.noteHolder
      div.note
        a.close(title='close') &#10006;
        div.toolbar.image-boxed
          a.edit(href='', title='edit')
            img(src="/img/pencil.png", alt='edit')
          span.vote-widget
        div.canvasHolder
          div.canvas
          div.text
            textarea(disabled="disabled") <%= description %>
          <% if (hasPrev) { %>
          div.nav.prevHolder
            div.navlink.prev(title='previous') &laquo;
          <% } %>
          <% if (hasNext) { %>
          div.nav.nextHolder
            div.navlink.next(title='next') &raquo;
          <% } %>
        div.metadata.image-boxed
          div.tags
            b tags:&nbsp;
            span.clickToEdit
              <%= $.trim(tags) || "[Click to add]"%>
      div(style='clear: both;')

script#dotstormTagOverlay(type='text/template')
  div.shadow

script#dotstormVoteWidget(type='text/template')
  <% if (!readOnly) { %>
  a.upvote(href='', title='upvote')
    <img src="/img/upvote<%= youVoted ? "-active" : "" %>.png" alt='vote' title="Vote!" />
  <% } %>
  <span class='vote-count<%= youVoted ? " active" : "" %>'><%= votes %></span>

script#usersWidget(type='text/template')
  <span class='users' title='Online: <%= ["You"].concat(_.map(users, function(u) { return u.name || "Anon" }).join(", ")).join(", ") %>'>
  img(src='/img/user.png', style='width: 22px; height: 22px')
  span.count
    <%= users.length + 1 %>
  </span>
  <div class='userlist' style='display: <%= open ? 'block' : 'none' %>'>
  div.box
    <%= users.length + 1 %> online:
    ol
      li.you
        | <input tile='<%= self.user_id %>' type=text value='<%= self.name || "" %>' placeholder='Enter your name' />
      <% for (var i = 0; i < users.length; i++) { %>
      <li title='<%= users[i].user_id %>'><%= users[i].name || "Anon" %></li>
      <% } %>
  div.box.invite
    | Invite others using this URL:<br />
    | <nobr><a href='<%= url %>'><%= url %></a></nobr>
    | or with the handy barcode dohickey:
    | <img src='http://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%| encodeURIComponent(url) %>' alt='QR code' style='float: left; margin-right: 1em'/>
    div(style='clear: both')
  </div>


script#intro(type='text/template')
  div#intro
    h1= title
    p Welcome to DotStorm!
    form#random
      input.cta.cta-blue(type='submit', value='New dotstorm')
    form#named
      p
        label(for='id_join')
          | Or choose a name:
        br
        input(type='text', name='room', id='id_join', placeholder='name')
        input.cta.cta-green(type='submit', value='OK')
