nav.tabs
  a(href='/d/#{slug}') Topic
  a(href='/d/#{slug}/add') Add idea
  a(href='/d/#{slug}/show') Show ideas

div#app

script#dotstormTopic(type='text/template')
  h1.name
    span.clickToEdit <%= name %>
  div#dotstorm
    div.topic
      div.clickToEdit <%| _.escapeHTML(topic).replace(/\n/g, "\n<br />") %>
  div#about
    | <img src='http://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%| encodeURIComponent(url) %>' alt='QR code' style='float: left; margin-right: 1em'/>
    | To join, go to: <a href='<%= url %>'><%= url %></a>
    div(style='clear: both')

script#dotstormInPlaceInput(type='text/template')
  form
    <input type='text' value='<%= text %>' />
    input(type='submit', value='OK')

script#dotstormInPlaceTextarea(type='text/template')
  form
    textarea <%= text %>
    br
    input(type='submit', value='save')
    a.cancel(href='#') cancel

script#dotstormAddIdea(type='text/template')
  div#addIdea
    div.tabgroup
      ul.tabs
        li.active#draw.tab
          div.toolbar
            a.tool.active(data-tool='pencil')
              img(src='/img/pencil.png', alt='Pencil')
            a.tool(data-tool='eraser')
              img(src='/img/erase.png', alt='Eraser')
            span(style='float: right')
              a.note-color.yellow
              a.note-color.pink
              a.note-color.aqua
              a.note-color.green
          div.canvas
        <% if (camera) { %>
        li#camera.tab
          | TODO camera!
        <% } %>
        li#share.tab
          form
            p
              label(for='id_description') Description
              br
              textarea#id_description <%= description %>
            p
              label(for='id_tags') Tags
              <input id='id_tags' name='tags' type='text' value="<%= tags %>" />
            p
              input.cta.cta-blue(type='submit', value='Share')
      ul.tablinks
        li
          a.active(href='#draw') Draw
        <% if (camera) { %>
        li
          a(href='#camera') Camera
        <% } %>
        li
          a(href='#share') Share -&gt;
    div#debug

script#dotstormShowIdeas(type='text/template')
  div.idea-browser
    div.sizes
      | size:
      a.resize.small(data-size='small') &nbsp;
      a.resize.medium(data-size='medium') &nbsp;
      a.resize.large(data-size='large') &nbsp;
    div#showIdeas
    div(style='clear: both;')
    //div.sort-link
    //  <a class='sort-link cta <%= sorting ? "cta-blue" : "cta-yellow" %>' href='/d/<%= slug %>/<%= sorting ? "show" : "sort" %>'><%= sorting ? "Done sorting" : "Start sorting" %></a>

script#dotstormSmallIdea(type='text/template')
  div.border
    div.canvas
    div.text
      div.tags
        <%= tags %>

script#dotstormSmallIdeaGroup(type='text/template')
  div.label.clickToEdit
    <%= label %>
  div.ideas

script#dotstormSmallIdeaGroupEditLabel(type='text/template')
  div
    form
      | <input type='text' value='<%= label %>' placeholder='label' />
      input(type='submit', value='OK')

script#dotstormBigIdea(type='text/template')
  div.shadow
    div.note
      a.close(href="#", title='close') &#10006;
      div.image
        div.nav
          <% if (hasPrev) { %>
          a.cta.cta-yellow.prev(href='#') &laquo; Prev
          <% } %>
          a.edit(href='#', title='edit')
            img(src="/img/pencil.png", alt='edit')
          <% if (hasNext) { %>
          a.cta.cta-yellow.next(href='#') Next &raquo;
          <% } %>
        div.canvas
      div.text
        div.border
          div.tags
            b tags:&nbsp;
            span.clickToEdit
              <%= $.trim(tags) || "[Click to add]"%>
          div.description
            b description:&nbsp;
            span.clickToEdit
              <%| _.escapeHTML(description || "[Click to add]").replace(/\n/g, "\n<br />") %>
      div(style='clear: both;')
