nav.tabs
  a(href='/d/#{slug}') Topic
  a(href='/d/#{slug}/add') Add idea
  a(href='/d/#{slug}/show') Show ideas

div#app

script#dotstormTopic(type='text/template')
  h1 <%= name %>
  div#dotstorm
    div.topic <%| _.escapeHTML(topic).replace(/\n/g, "\n<br />") %>

script#dotstormTopicEditor(type='text/template')
  form
    textarea <%= topic %>
    br
    input(type='submit', value='save')
    a.cancel(href='#') cancel

script#dotstormAddIdea(type='text/template')
  div#addIdea
    div.tabgroup
      ul.tabs
        li.active#draw.tab
          h2 Draw
          div.toolbar
            a.tool.active(data-tool='pencil')
              img(src='/img/pencil.png', alt='Pencil')
            a.tool(data-tool='eraser')
              img(src='/img/erase.png', alt='Eraser')
            span(style='float: right')
              a.note-color.yellow
              a.note-color.pink
              a.note-color.aqua
              a.note-color.green


          canvas
        <% if (camera) { %>
        li#camera.tab
          | TODO camera!
        <% } %>
        li#share.tab
          h2 Share
          form
            p
              label(for='id_description') Description
              br
              textarea#id_description <%= description %>
            p
              label(for='id_tags') Tags
              input#id_tags.tags(name='tags', type='text') <%= tags %>
            p
              input.cta.cta-blue(type='submit', value='Share')
      ul.tablinks
        li
          a.active(href='#draw') Draw
        <% if (camera) { %>
        li
          a(href='#camera') Camera
        <% } %>
        li
          a(href='#share') Share -&gt;
    div#debug
