nav.tabs(style='display: none;')
  a.soft.home(href='/')
    img(src='/img/home.png', alt='Dotstorm home')
  a.soft.show-ideas(href='/d/#{slug}/') Show ideas
  //a.add(href='/d/#{slug}/add') Add idea +
  div#auth

div#app
  <img src='/img/spinner.gif' alt='loading' /> Loading...

script#dotstormTopic(type='text/template')
  div#dotstorm
    div.nameEdit
      h1.clickToEdit <%= name || "[add name]" %>
    div.topicEdit
      span.clickToEdit <%| _.escapeHTML(topic || "[Click to edit topic]").replace(/\n/g, "\n<br />") %>

script#dotstormInPlaceInput(type='text/template')
  form.editInPlace
    <input type='text' value='<%= text %>' />
    input(type='submit', value='OK')

script#dotstormInPlaceTextarea(type='text/template')
  form.inPlaceTextarea
    textarea(rows="4", cols="40") <%= text %>
    br
    input(type='submit', value='save')
    a.cancel(href='') cancel

script#dotstormAddIdea(type='text/template')
  div#addIdea
    div.toolbar
      a.tool.active(data-tool='text')
        img(src='/img/T.png', alt='Text')
      a.tool(data-tool='pencil')
        img(src='/img/pencil.png', alt='Pencil')
      a.tool(data-tool='eraser')
        img(src='/img/eraser.png', alt='Eraser')
      <% if (cameraEnabled) { %>
      a.tool(data-tool='camera')
        img(src='/img/camera.png', alt='Camera')
      <% } else if (fileEnabled) { %>
      a.tool.file-upload(data-tool='file-upload')
        img.normal(src='/img/camera.png', alt='Camera')
      input.file-input(type='file', accept='image/*;capture=camera')
      <% } %>
      span(style='float: right')
        a.note-color.yellow
        a.note-color.pink
        a.note-color.aqua
        a.note-color.green
    div(style='clear: both;')
    div.canvasHolder
      div.photo
      div.canvas
      div.text
        textarea#id_description <%= description %>
    form
      label(for='id_tags') Tags
      <input id='id_tags' name='tags' type='text' value="<%= tags %>" />
      //a.cta.cta-yellow.cta-thin Say more
      input.cta.cta-blue.cta-thin(type='submit', value='Share &raquo;', style='float: right')
    div(style='clear: both;')

script#dotstormOrganizer(type='text/template')
  div(style='clear: both;')
  div.front-matter
    div.topic
    div.add-link-block
      <a href='/d/<%= slug %>/add' class='cta cta-blue add-link'>+ Add</a>
    div#trash
      div.trash
        div.icon
        div.contents
    div(style='clear: both;')
  div.idea-browser
    span#organizer
    div(style='clear: both;')
  div.tag-links

script#dotstormSmallIdea(type='text/template')
  <img src='<%= drawingURLs.medium %>' alt='<%= description %>' />
  div.tags
    <%= tags.join(", ") %>
  div.votes
  div.dragger

script#dotstormSmallIdeaGroup(type='text/template')
  div.labelHolder
    span.labelMask
      <% if (showGroup) { %>
      span.label.clickToEdit
        <%= label || "[Click to add label]" %>
      <a href='/g/<%= group_id %>' class='embed' title='Embed this group'>&#8734;</a> 
      <% } else {%>
      | &nbsp;
      <% } %>
  div.ideas

script#dotstormSmallIdeaGroupEditLabel(type='text/template')
  form
    | <input type='text' value='<%= label %>' placeholder='label' />
    input(type='submit', value='OK')

script#dotstormBigIdea(type='text/template')
  div.shadow
    div.noteHolder
      div.note
        div.toolbar.image-boxed
          a.edit(href='', title='edit')
            img(src="/img/pencil.png", alt='edit')
          span.vote-widget
          a.close(title='close') &#10006;
        div.canvasHolder
          <img src='<%= drawingURLs.full %>' alt='<%= description %>' />
          <% if (hasPrev) { %>
          div.nav.prevHolder
            div.navlink.prev(title='previous') &laquo;
          <% } %>
          <% if (hasNext) { %>
          div.nav.nextHolder
            div.navlink.next(title='next') &raquo;
          <% } %>
        div.tags
          b tags:&nbsp;
          span.clickToEdit
            <%= tags.join(", ") || "[Click to add]"%>
      div(style='clear: both;')

script#dotstormTagOverlay(type='text/template')
  div.shadow

script#dotstormVoteWidget(type='text/template')
  <% if (!readOnly) { %>
  a.upvote(title='Vote up') Vote up
  <% } %>
  span.vote-count
  <% if (!readOnly) { %>
  a.downvote(title='Vote down') Vote down
  <% } %>

script#usersWidget(type='text/template')
  <span class='users' title='Online: <%= ["You"].concat(_.map(users, function(u) { return u.name || "Anon" }).join(", ")).join(", ") %>'>
  img(src='/img/user.png', style='width: 22px; height: 22px')
  span.count
    <%= users.length + 1 %>
  </span>
  <div class='userlist' style='display: <%= open ? 'block' : 'none' %>'>
  div.box
    <%= users.length + 1 %> online:
    ol
      li.you
        | <input tile='<%= self.user_id %>' type=text value='<%= self.name || "" %>' placeholder='Enter your name' />
      <% for (var i = 0; i < users.length; i++) { %>
      <li title='<%= users[i].user_id %>'><%= users[i].name || "Anon" %></li>
      <% } %>
  div.box.invite
    p
    | Invite others using this URL:<br />
    | <nobr><a href='<%= url %>'><%= url %></a></nobr>
    | or with the handy barcode dohickey:
    | <img src='http://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%| encodeURIComponent(url) %>' alt='QR code' style='float: left; margin-right: 1em'/>
    div(style='clear: both')
    p
      | Embed or export this dotstorm:
      | <a class="embed-dotstorm" href="/e/<%= embed_slug %>" title="Embed read-only">Read-only version</a>
  </div>


script#intro(type='text/template')
  div#intro
    h1= title
    p Welcome to DotStorm!
    form#random
      input.cta.cta-blue(type='submit', value='New dotstorm')
    form#named
      p
        label(for='id_join')
          | Or choose a name:
        br
        input(type='text', name='room', id='id_join', placeholder='name')
        input.cta.cta-green(type='submit', value='OK')
    p Warning: this is pre-alpha software. Data is periodically deleted without warning.
