nav.tabs
  a.show-ideas(href='/d/#{slug}/') Show ideas
  a.add(href='/d/#{slug}/add') Add +

div#app

script#dotstormTopic(type='text/template')
  div#dotstorm
    h1.nameEdit
      span.clickToEdit <%= name %>
    div.topicEdit
      div.clickToEdit <%| _.escapeHTML(topic || "[Click to edit topic]").replace(/\n/g, "\n<br />") %>

script#dotstormInPlaceInput(type='text/template')
  form
    <input type='text' value='<%= text %>' />
    input(type='submit', value='OK')

script#dotstormInPlaceTextarea(type='text/template')
  form
    textarea <%= text %>
    br
    input(type='submit', value='save')
    a.cancel(href='#') cancel

script#dotstormAddIdea(type='text/template')
  div#addIdea
    div.toolbar
      a.tool.active(data-tool='text')
        img(src='/img/T.png', alt='Text')
      a.tool(data-tool='pencil')
        img(src='/img/pencil.png', alt='Pencil')
      a.tool(data-tool='eraser')
        img(src='/img/erase.png', alt='Eraser')
      span(style='float: right')
        a.note-color.yellow
        a.note-color.pink
        a.note-color.aqua
        a.note-color.green
    div.canvasHolder
      div.canvas
      div.text
        textarea#id_description <%= description %>

      <% if (camera) { %>
      li#camera.tab
        | TODO camera!
      <% } %>
    form
      label(for='id_tags') Tags
      <input id='id_tags' name='tags' type='text' value="<%= tags %>" />
      //a.cta.cta-yellow.cta-thin Say more
      input.cta.cta-blue.cta-thin(type='submit', value='Share &raquo;', style='float: right')
    div(style='clear: both;')

script#dotstormShowIdeas(type='text/template')
  div.topic
  div.idea-browser
    div#showIdeas
    div(style='clear: both;')
  div#about
    | <img src='http://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%| encodeURIComponent(url) %>' alt='QR code' style='float: left; margin-right: 1em'/>
    | Others can join in using this URL:<br />
    | <a href='<%= url %>'><%= url %></a>
    div(style='clear: both')

script#dotstormSmallIdea(type='text/template')
  div.border
    div.canvasHolder
      div.canvas
      div.text
        textarea(disabled='disabled')
          <%= description %>
      div.dragger
      div.tags
        <%= tags %>

script#dotstormSmallIdeaGroup(type='text/template')
  div.label.clickToEdit
    <%= label || "[Click to add label]" %>
  div.ideas

script#dotstormSmallIdeaGroupEditLabel(type='text/template')
  div
    form
      | <input type='text' value='<%= label %>' placeholder='label' />
      input(type='submit', value='OK')

script#dotstormBigIdea(type='text/template')
  div.shadow
    div.note
      a.close(title='close') &#10006;
      div.image
        div.nav
          <% if (hasPrev) { %>
          a.cta.cta-yellow.prev(href='#') &laquo; Prev
          <% } %>
          a.edit(href='#', title='edit')
            img(src="/img/pencil.png", alt='edit')
          <% if (hasNext) { %>
          a.cta.cta-yellow.next(href='#') Next &raquo;
          <% } %>
        div.canvasHolder
          div.canvas
          div.text
            textarea(disabled="disabled") <%= description %>
      div.metadata
        div.tags
          b tags:&nbsp;
          span.clickToEdit
            <%= $.trim(tags) || "[Click to add]"%>
      div(style='clear: both;')

script#usersWidget(type='text/template')
  | USERS

script#intro(type='text/template')
  div#intro
    h1= title
    p Welcome to DotStorm!
    form#random
      input.cta.cta-blue(type='submit', value='New dotstorm')
    form#named
      p
        label(for='id_join')
          | Or choose a name:
        br
        input(type='text', name='room', id='id_join', placeholder='name')
        input.cta.cta-green(type='submit', value='OK')
