nav.tabs
  a(href='/d/#{slug}') Topic
  a(href='/d/#{slug}/add') Add idea
  a(href='/d/#{slug}/show') Show ideas

div#app

script#dotstormTopic(type='text/template')
  h1 <%= name %>
  div#dotstorm
    div.clickToEdit.topic <%| _.escapeHTML(topic).replace(/\n/g, "\n<br />") %>

script#dotstormTopicEditor(type='text/template')
  form
    textarea <%= topic %>
    br
    input(type='submit', value='save')
    a.cancel(href='#') cancel

script#dotstormAddIdea(type='text/template')
  div#addIdea
    div.tabgroup
      ul.tabs
        li.active#draw.tab
          h2 Draw
          div.toolbar
            a.tool.active(data-tool='pencil')
              img(src='/img/pencil.png', alt='Pencil')
            a.tool(data-tool='eraser')
              img(src='/img/erase.png', alt='Eraser')
            span(style='float: right')
              a.note-color.yellow
              a.note-color.pink
              a.note-color.aqua
              a.note-color.green
          div.canvas
        <% if (camera) { %>
        li#camera.tab
          | TODO camera!
        <% } %>
        li#share.tab
          h2 Share
          form
            p
              label(for='id_description') Description
              br
              textarea#id_description <%= description %>
            p
              label(for='id_tags') Tags
              <input id='id_tags' name='tags' type='text' value="<%= tags %>" />
            p
              input.cta.cta-blue(type='submit', value='Share')
      ul.tablinks
        li
          a.active(href='#draw') Draw
        <% if (camera) { %>
        li
          a(href='#camera') Camera
        <% } %>
        li
          a(href='#share') Share -&gt;
    div#debug

script#dotstormShowIdeas(type='text/template')
  div.idea-browser
    div.sizes
      <a class='sort-link' href='/d/<%= slug %>/<%= sorting ? "show" : "sort" %>'><%= sorting ? "Done sorting" : "Sort" %></a>
      | size:
      a.resize.small(data-size='small') &nbsp;
      a.resize.medium(data-size='medium') &nbsp;
      a.resize.large(data-size='large') &nbsp;
    div#showIdeas
    div(style='clear: both;')

script#dotstormSmallIdea(type='text/template')
  div.border
    div.canvas
    div.text
      div.tags
        <%= tags %>

script#dotstormSmallIdeaGroup(type='text/template')
  div.label.clickToEdit
    <%= label %>
  div.ideas

script#dotstormSmallIdeaGroupEditLabel(type='text/template')
  div
    form
      | <input type='text' value='<%= label %>' placeholder='label' />
      input(type='submit', value='OK')

script#dotstormBigIdea(type='text/template')
  div.shadow
    div.note
      a.close(href="#", title='close') &#10006;
      div.canvas
      div.nav
        <% if (hasPrev) { %>
        a.cta.cta-yellow.prev(href='#') &laquo; Prev
        <% } %>
        a.edit(href='#', title='edit')
          img(src="/img/pencil.png", alt='edit')
        <% if (hasNext) { %>
        a.cta.cta-yellow.next(href='#') Next &raquo;
        <% } %>
        div(style='clear: both;')
      div.text
        div.description
          <%= description %>
        div.tags
          b tags:&nbsp;
          <%= tags %>
