h1= title

div#intro(style='display: none;')
  p Welcome to DotStorm!
  p Enter your room name here:
  form#joiner
    input(type='text')
    input(type='submit', value='Join room')
  form#random
    input.cta.cta-green(type='submit', value='Or generate a random one')

div#rights
