div#app

script#intro(type='text/template')
  div#intro
    h1= title
    p Welcome to DotStorm!
    form#random
      input.cta.cta-blue(type='submit', value='New dotstorm')
    form#named
      p
        label(for='id_join')
          | Or choose a name:
        br
        input(type='text', name='room', id='id_join', placeholder='name')
        input.cta.cta-green(type='submit', value='OK')
