doctype 5
html(lang="en")
  head
    link(rel='shortcut icon', type='image/png', href='/test/jasmine-1.1.0/jasmine_favicon.png')
    link(rel='stylesheet', type='text/css', href='/test/jasmine-1.1.0/jasmine.css')
    script(src="/socket.io/socket.io.js", type="text/javascript")
    != js('frontend')
    script(type='text/javascript', src='/test/jasmine-1.1.0/jasmine.js')
    script(type='text/javascript', src='/test/jasmine-1.1.0/jasmine-html.js')
    != js('spec/backbonesocketspec')
    script(type='text/javascript')
      (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var htmlReporter = new jasmine.HtmlReporter();

        jasmineEnv.addReporter(htmlReporter);

        jasmineEnv.specFilter = function(spec) {
          return htmlReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;

        window.onload = function() {
          if (currentWindowOnload) {
            currentWindowOnload();
          }
          execJasmine();
        };

        function execJasmine() {
          jasmineEnv.execute();
        }

      })();
  body
