#dotstormEmbed
  .group
    text-align: center
    padding: 1em
    background-color: #ddd
    border: 1px solid #ccc
  #title
    border-bottom: 1px solid #999
    margin-bottom: 0.5em
  .smallIdea, .group
    border: 1px solid transparent
    float: left
    position: relative
    .votes
      // TODO
    .tags
      position: absolute
      bottom: 0
      left: 0
      background-color: rgba(0, 0, 0, 0.2)
