// Mixins
@import "normalize.css"
@import "buttons.css"

background-rgba(r, g, b, a)
  // rgba with fallback to rgb
  background-color: rgb(r, g, b)
  background-color: rgba(r, g, b, a)

// Main

body
  position: relative
  background: url("../img/frenchstucco.png") repeat
body,textarea
  font-family: Vollkorn,serif

a:link, a:visited
  color: #00e

input[type=text]
  border: 1px solid gray
  padding: 0.2em

#auth

#foot
  font-size: 14px
  text-align: center
  ul
    padding: 0
    margin: 0
  li
    display: inline-block
    list-style-type: none
    margin-right: 0.5em
    margin-left: 0.5em
  a
    text-decoration: none

#size
  position: fixed
  bottom: 0
  left: 0
  background: rgba(255, 255, 255, 0.8)
  padding: 0.5em

#flash
  font-size: 20px
  a.close
    color: black
    text-decoration: none
    position: absolute
    right: 1em
  ul
    position: fixed
    z-index: 1
    width: 85%
    top: 1em
    left: 5%
    li
      position: relative
      padding: 0.5em
      margin-left: 0
      list-style-type: none
      box-shadow: 0px 0px 1px black, 0 0 20px white inset
      color: white
      text-shadow: black 0px 1px 2px
      margin-right: 1em
      &.info
        background-rgba(0, 153, 255, 0.9)
      &.error
        background-rgba(255, 51, 0, 0.9)

#intro
  text-align: center
  margin-left: auto
  margin-right: auto

#dotstorm
  .topic:hover
    background-color: #ffe
    border: 1px inset black
    &:before
      content: "✎"
  textarea
    width: 40em
    max-width: 80%
    height: 10em
    max-height: 30%
    
    
